@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

h1{
    font-size: 40px;
    color: #A67D4B;
    font-family: 'Parisienne', cursive;
}

h5{
    font-size: 30px;
    color: #F288AF;
    font-family: 'Ms Madi', cursive;
}

h2{
    font-size: 25px;
    color: #F288AF;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-size: 25px;
    color: #A67D4B;
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-size: 20px;
    color: #A67D4B;
}


p{
    font-size: 20px;
    color: #240B06;
    font-family: 'Cormorant Garamond', serif;
}

span{
    font-size: 15px;
    color: #240B06;
    font-family: 'Cormorant Garamond', serif;
}

body {
    overflow-x: hidden;
  }